AWS/Step_Functions/Single_Cell.json
{
    "Comment": "Single Cell pipeline state machine",
    "StartAt": "Cell Ranger",
    "States": {
      "Cell Ranger": {
        "Type": "Task",
        "Resource": "arn:aws:states:::batch:submitJob.sync",
        "Parameters": {
          "JobDefinition": "${Cellranger_def_arn}",
          "JobName.$": "$.sample_id",
          "JobQueue": "${Cellranger_jq_arn}",
          "ContainerOverrides": {
            "Environment": [
              {
                "Name": "AWS_KEY",
                "Value.$": "$.AWS_KEY"
              },
              {
                "Name": "AWS_SECRET_KEY",
                "Value.$": "$.AWS_SECRET_KEY"
              },
              {
                "Name": "REGION",
                "Value.$": "$.REGION"
              },
              {
                "Name": "download_bucket",
                "Value.$": "$.download_bucket"
              },
              {
                "Name": "upload_bucket",
                "Value.$": "$.upload_bucket"
              },
              {
                "Name": "sample_id",
                "Value.$": "$.sample_id"
              },
              {
                "Name": "core",
                "Value.$": "$.core"
              },
              {
                "Name": "memory",
                "Value.$": "$.memory"
              },
              {
                "Name": "expect_cells",
                "Value.$": "$.expect_cells"
              },
              {
                "Name": "threads",
                "Value.$": "$.threads"
              },
              {
                "Name": "SPC_threads",
                "Value.$": "$.SPC_threads"
              },
              {
                "Name": "min_MAF",
                "Value.$": "$.min_MAF"
              },
              {
                "Name": "min_count",
                "Value.$": "$.min_count"
              },
              {
                "Name": "n_donor",
                "Value.$": "$.n_donor"
              },
              {
                "Name": "num_clusters",
                "Value.$": "$.num_clusters"
              }
            ]
          }
        },
        "Next": "Parallel"
      },
      "Parallel": {
        "Type": "Parallel",
        "Branches": [
          {
            "StartAt": "filter_1",
            "States": {
              "filter_1": {
                "Type": "Task",
                "Resource": "${cellSNP_filter_arn}",
                "Next": "CellSNP"
              },
              "CellSNP": {
                "Type": "Task",
                "Resource": "arn:aws:states:::batch:submitJob.sync",
                "Parameters": {
                  "JobDefinition": "${cellSNP_def_arn}",
                  "JobName.$": "$.sample_id",
                  "JobQueue": "${cellSNP_jq_arn}",
                  "ContainerOverrides": {
                    "Environment": [
                      {
                        "Name": "AWS_KEY",
                        "Value.$": "$.AWS_KEY"
                      },
                      {
                        "Name": "AWS_SECRET_KEY",
                        "Value.$": "$.AWS_SECRET_KEY"
                      },
                      {
                        "Name": "REGION",
                        "Value.$": "$.REGION"
                      },
                      {
                        "Name": "download_bucket",
                        "Value.$": "$.download_bucket"
                      },
                      {
                        "Name": "upload_bucket",
                        "Value.$": "$.upload_bucket"
                      },
                      {
                        "Name": "sample_id",
                        "Value.$": "$.sample_id"
                      },
                      {
                        "Name": "threads",
                        "Value.$": "$.threads"
                      },
                      {
                        "Name": "min_MAF",
                        "Value.$": "$.min_MAF"
                      },
                      {
                        "Name": "min_count",
                        "Value.$": "$.min_count"
                      },
                      {
                        "Name": "n_donor",
                        "Value.$": "$.n_donor"
                      }
                    ]
                  }
                },
                "Next": "filter_2"
              },
              "filter_2": {
                "Type": "Task",
                "Resource": "${vireoSNP_filter_arn}",
                "Next": "VireoSNP"
              },
              "VireoSNP": {
                "Type": "Task",
                "Resource": "arn:aws:states:::batch:submitJob.sync",
                "Parameters": {
                  "JobDefinition": "${vireoSNP_def_arn}",
                  "JobName.$": "$.sample_id",
                  "JobQueue": "${vireoSNP_jq_arn}",
                  "ContainerOverrides": {
                    "Environment": [
                      {
                        "Name": "AWS_KEY",
                        "Value.$": "$.AWS_KEY"
                      },
                      {
                        "Name": "AWS_SECRET_KEY",
                        "Value.$": "$.AWS_SECRET_KEY"
                      },
                      {
                        "Name": "REGION",
                        "Value.$": "$.REGION"
                      },
                      {
                        "Name": "download_bucket",
                        "Value.$": "$.download_bucket"
                      },
                      {
                        "Name": "upload_bucket",
                        "Value.$": "$.upload_bucket"
                      },
                      {
                        "Name": "sample_id",
                        "Value.$": "$.sample_id"
                      },
                      {
                        "Name": "n_donor",
                        "Value.$": "$.n_donor"
                      }
                    ]
                  }
                },
                "End": true
              }
            }
          },
          {
            "StartAt": "filter_3",
            "States": {
              "filter_3": {
                "Type": "Task",
                "Resource": "${SPC_filter_arn}",
                "Next": "SPC"
              },
              "SPC": {
                "Type": "Task",
                "Resource": "arn:aws:states:::batch:submitJob.sync",
                "Parameters": {
                  "JobDefinition": "${SPC_def_arn}",
                  "JobName.$": "$.sample_id",
                  "JobQueue": "${SPC_jq_arn}",
                  "ContainerOverrides": {
                    "Environment": [
                      {
                        "Name": "AWS_KEY",
                        "Value.$": "$.AWS_KEY"
                      },
                      {
                        "Name": "AWS_SECRET_KEY",
                        "Value.$": "$.AWS_SECRET_KEY"
                      },
                      {
                        "Name": "REGION",
                        "Value.$": "$.REGION"
                      },
                      {
                        "Name": "download_bucket",
                        "Value.$": "$.download_bucket"
                      },
                      {
                        "Name": "upload_bucket",
                        "Value.$": "$.upload_bucket"
                      },
                      {
                        "Name": "sample_id",
                        "Value.$": "$.sample_id"
                      },
                      {
                        "Name": "threads",
                        "Value.$": "$.threads"
                      },
                      {
                        "Name": "num_clusters",
                        "Value.$": "$.num_clusters"
                      }
                    ]
                  }
                },
                "End": true
              }
            }
          }
        ],
        "End": true
      }
    }
  }