AWS/Step_Functions/SM_def.json
{
    "Comment": "Single Cell pipeline state machine",
    "StartAt": "Cell Ranger",
    "States": {
      "Cell Ranger": {
        "Type": "Task",
        "Resource": "arn:aws:states:::batch:submitJob.sync",
        "Parameters": {
          "JobDefinition": "${Cellranger_def_arn}",
          "JobName.$": "$.SAMPLE_ID",
          "JobQueue": "${Cellranger_jq_arn}",
          "ContainerOverrides": {
            "Environment": [
              {
                "Name": "AWS_KEY",
                "Value.$": "$.AWS_KEY"
              },
              {
                "Name": "AWS_SECRET_KEY",
                "Value.$": "$.AWS_SECRET_KEY"
              },
              {
                "Name": "REGION",
                "Value.$": "$.REGION"
              },
              {
                "Name": "SAMPLE_ID",
                "Value.$": "$.SAMPLE_ID"
              },
              {
                "Name": "DOWNLOAD_BUCKET",
                "Value.$": "$.CR_DOWNLOAD_BUCKET"
              },
              {
                "Name": "UPLOAD_BUCKET",
                "Value.$": "$.CR_UPLOAD_BUCKET"
              },
              {
                "Name": "CORE",
                "Value.$": "$.CR_CORE"
              },
              {
                "Name": "MEMORY",
                "Value.$": "$.CR_MEMORY"
              },
              {
                "Name": "EXPECT_CELLS",
                "Value.$": "$.CR_EXPECT_CELLS"
              },
              {
                "Name": "CS_UPLOAD_BUCKET",
                "Value.$": "$.CS_UPLOAD_BUCKET"
              },
              {
                "Name": "CS_THREADS",
                "Value.$": "$.CS_THREADS"
              },
              {
                "Name": "CS_MIN_MAF",
                "Value.$": "$.CS_MIN_MAF"
              },
              {
                "Name": "CS_MIN_COUNT",
                "Value.$": "$.CS_MIN_COUNT"
              },
              {
                "Name": "VS_UPLOAD_BUCKET",
                "Value.$": "$.VS_UPLOAD_BUCKET"
              },
              {
                "Name": "VS_N_DONOR",
                "Value.$": "$.VS_N_DONOR"
              },
              {
                "Name": "SPC_UPLOAD_BUCKET",
                "Value.$": "$.SPC_UPLOAD_BUCKET"
              },
              {
                "Name": "SPC_THREADS",
                "Value.$": "$.SPC_THREADS"
              },
              {
                "Name": "SPC_NUM_CLUSTERS",
                "Value.$": "$.SPC_NUM_CLUSTERS"
              }
            ]
          }
        },
        "Next": "Parallel"
      },
      "Parallel": {
        "Type": "Parallel",
        "Branches": [
          {
            "StartAt": "filter_1",
            "States": {
              "filter_1": {
                "Type": "Task",
                "Resource": "${cellSNP_filter_arn}",
                "Next": "CellSNP"
              },
              "CellSNP": {
                "Type": "Task",
                "Resource": "arn:aws:states:::batch:submitJob.sync",
                "Parameters": {
                  "JobDefinition": "${cellSNP_def_arn}",
                  "JobName.$": "$.SAMPLE_ID",
                  "JobQueue": "${cellSNP_jq_arn}",
                  "ContainerOverrides": {
                    "Environment": [
                      {
                        "Name": "AWS_KEY",
                        "Value.$": "$.AWS_KEY"
                      },
                      {
                        "Name": "AWS_SECRET_KEY",
                        "Value.$": "$.AWS_SECRET_KEY"
                      },
                      {
                        "Name": "REGION",
                        "Value.$": "$.REGION"
                      },
                      {
                        "Name": "SAMPLE_ID",
                        "Value.$": "$.SAMPLE_ID"
                      },
                      {
                        "Name": "DOWNLOAD_BUCKET",
                        "Value.$": "$.DOWNLOAD_BUCKET"
                      },
                      {
                        "Name": "UPLOAD_BUCKET",
                        "Value.$": "$.UPLOAD_BUCKET"
                      },
                      {
                        "Name": "THREADS",
                        "Value.$": "$.THREADS"
                      },
                      {
                        "Name": "MIN_MAF",
                        "Value.$": "$.MIN_MAF"
                      },
                      {
                        "Name": "MIN_COUNT",
                        "Value.$": "$.MIN_COUNT"
                      },
                      {
                        "Name": "VS_UPLOAD_BUCKET",
                        "Value.$": "$.VS_UPLOAD_BUCKET"
                      },
                      {
                        "Name": "VS_N_DONOR",
                        "Value.$": "$.VS_N_DONOR"
                      }
                    ]
                  }
                },
                "Next": "filter_2"
              },
              "filter_2": {
                "Type": "Task",
                "Resource": "${vireoSNP_filter_arn}",
                "Next": "VireoSNP"
              },
              "VireoSNP": {
                "Type": "Task",
                "Resource": "arn:aws:states:::batch:submitJob.sync",
                "Parameters": {
                  "JobDefinition": "${vireoSNP_def_arn}",
                  "JobName.$": "$.SAMPLE_ID",
                  "JobQueue": "${vireoSNP_jq_arn}",
                  "ContainerOverrides": {
                    "Environment": [
                      {
                        "Name": "AWS_KEY",
                        "Value.$": "$.AWS_KEY"
                      },
                      {
                        "Name": "AWS_SECRET_KEY",
                        "Value.$": "$.AWS_SECRET_KEY"
                      },
                      {
                        "Name": "REGION",
                        "Value.$": "$.REGION"
                      },
                      {
                        "Name": "SAMPLE_ID",
                        "Value.$": "$.SAMPLE_ID"
                      },
                      {
                        "Name": "DOWNLOAD_BUCKET",
                        "Value.$": "$.DOWNLOAD_BUCKET"
                      },
                      {
                        "Name": "UPLOAD_BUCKET",
                        "Value.$": "$.UPLOAD_BUCKET"
                      },
                      {
                        "Name": "N_DONOR",
                        "Value.$": "$.N_DONOR"
                      }
                    ]
                  }
                },
                "End": true
              }
            }
          },
          {
            "StartAt": "filter_3",
            "States": {
              "filter_3": {
                "Type": "Task",
                "Resource": "${SPC_filter_arn}",
                "Next": "SPC"
              },
              "SPC": {
                "Type": "Task",
                "Resource": "arn:aws:states:::batch:submitJob.sync",
                "Parameters": {
                  "JobDefinition": "${SPC_def_arn}",
                  "JobName.$": "$.SAMPLE_ID",
                  "JobQueue": "${SPC_jq_arn}",
                  "ContainerOverrides": {
                    "Environment": [
                      {
                        "Name": "AWS_KEY",
                        "Value.$": "$.AWS_KEY"
                      },
                      {
                        "Name": "AWS_SECRET_KEY",
                        "Value.$": "$.AWS_SECRET_KEY"
                      },
                      {
                        "Name": "REGION",
                        "Value.$": "$.REGION"
                      },
                      {
                        "Name": "SAMPLE_ID",
                        "Value.$": "$.SAMPLE_ID"
                      },
                      {
                        "Name": "DOWNLOAD_BUCKET",
                        "Value.$": "$.DOWNLOAD_BUCKET"
                      },
                      {
                        "Name": "UPLOAD_BUCKET",
                        "Value.$": "$.UPLOAD_BUCKET"
                      },
                      {
                        "Name": "THREADS",
                        "Value.$": "$.THREADS"
                      },
                      {
                        "Name": "NUM_CLUSTERS",
                        "Value.$": "$.NUM_CLUSTERS"
                      }
                    ]
                  }
                },
                "End": true
              }
            }
          }
        ],
        "End": true
      }
    }
  }